# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
# Prisma
failed-inferMigrationSteps*

# Environment Variables
prisma/.env
.env
envvars

# Elastic Beanstalk Files
.ebignored
.ignored
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Build Files
.nexus
.tmp_build