container_commands:
    01_change_permissions:
        command: "chmod -R +x /var/app/staging/.platform/hooks"
    02_copy_main_env:
        command: "cp /tmp/.env /var/app/staging/"
    03_copy_prisma_env:
        command: "cp /tmp/prisma/.env /var/app/staging/prisma/"
    04_database_migration:
        leader_only: true
        command: "touch /tmp/leader_only"